:host {
  display: block;
}
.openMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
  color: var(--light-color);
  font-size: 3em;
  font-weight: bold;
  z-index: 50;
}
#nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(--sec-alpha);
}
.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 50%;
  height: auto;
  padding: 25px;
  color: var(--light-color);
  font-size: 1.3em;
  font-weight: bold;
}
.navLink:hover {
  background-color: var(--main-alpha);
}
.closeMenu {
  position: fixed;
  top: 0px;
  color: var(--light-color);
  font-size: 1.3em;
  font-weight: bold;
}