<div fxLayout="column" fxLayoutAlign="center center" id="nav" [@openClose]="isOpen ? 'open' : 'closed'">
  <a (click)="toggle()" routerLink="/about" class="navLink">About</a>
  <a (click)="toggle()" routerLink="/portfolio" class="navLink">Portfolio</a>
  <a (click)="toggle()" routerLink="../" id="logo" class="navLink"><img src="https://github.com/Ilonis/Web-Portfolio/blob/Initial-Build/src/app/imgs/SG_logo.png?raw=true"></a>
  <a (click)="toggle()" routerLink="resume" class="navLink">Resume</a>
  <a (click)="toggle()" routerLink="/contact" class="navLink">Contact</a>
  <p (click)="toggle()" class="closeMenu">X</p>
</div>
<div>
  <p (click)="toggle()" class="openMenu">=</p>
</div>