<h1>Portfolio</h1>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="flex-start">
  <app-card fxFlex="34" fxFlex.xs="100%" fxShow.xs="false">
  </app-card>
  <app-card fxFlex="66" fxFlex.xs="100%" [style.background-image]="'url(' + projects[0].image + ')'">
  </app-card>
  <app-card fxFlex="50" fxFlex.xs="100%">
  </app-card>
  <app-card fxFlex="50" fxFlex.xs="100%">
  </app-card>
  <app-card fxFlex="66" fxFlex.xs="100%">
  </app-card>
  <app-card fxFlex="34" fxFlex.xs="100%" fxShow.xs="false">
  </app-card>
</div>
<div style="width: 100px; height: 100px;">
{{ projects[0].image }}
</div>