<h1>Resume</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-evenly">
  <div>
    <h1>Work Experience</h1>

    <h2>Web Developer/Coordinator</h2>
    Insurance Technologies Corporation - Carrollton, TX   <br>                                         08/2018 - 09/2019

    <h3>Developer:</h3>
    <ul>
      <li>Carried out the day to day setup, upgrades, and revisions of the clients’ websites</li>
      <li>Took on DNS responsibilities for domain hosting, transfers, and pointing</li>
      <li>Adhered to a strict schedule of tasks and responsibilities</li>
      <li>On my own lead, Developed technologies to help smooth workflow and productivity</li>
      <li>Developed Designs to match various input criteria and business needs</li>
      <li>Luna Light: https://www.lunalightins.com/</li>
      <li>Started as a rough layout with set limitations</li>
      <li>Evolve: https://www.evolvetemplate.com/</li>
      <li>Started as a designer’s mockup and built from scratch.</li>
      <li>Hazel: http://gibstehaz0c.qa.insurancewebsitebuilder.com/</li>
      <li>Started as a designer’s mockup and built from scratch to provide a design incorporating videos</li>
    </ul>

    <h3>Coordinator:</h3>
    <ul>
      <li>Initial contact after Sales</li>
      <li>Main point of contact for website (Outside of SEO)</li>
      <li>Managed and assisted with the complete process for 60+ clients</li>
      <li>Discusses design and adapts both client requests and company limitations</li>
      <li>Lends designer insight to customer requests regarding colors and photo selection</li>
      <li>Directs clients to appropriate sources of information outside of my own scope</li>
      <li>Ensures work completed is accurate to clients’ needs</li>
      <li>Manages time between email and phone conversations</li>
      <li>Translator/Interpreter between clients and production team</li>
    </ul>

    <h2>Web Designer</h2>
    Hill Shepherd Marketing Group - Stephenville, TX <br>                                                            2013 - 2018
    <ul>
      <li>Designed, built, and maintained 15-20 websites simultaneously, using authoring or scripting languages, content creation tools, management tools, and digital media.</li>
      <li>Converted existing websites into modern technologies.</li>
      <li>Performed or directed website updates.</li>
      <li>Identified problems by testing or customer feedback, and corrected them.</li>
      <li>Analyzed user needs to determine technical requirements.</li>
      <li>Renewed domain name registrations and security certificates.</li>
      <li>Developed e-commerce strategies and their integration with websites.</li>
      <li>Communicated with network personnel or web site hosting agencies to address hardware or software issues affecting websites.</li>
      <li>Incorporated technical considerations into web site design plans, such as budgets, equipment, performance requirements, accessibility and privacy.</li>
      <li>Replied to user email inquiries.</li>
      <li>Set up automated systems to send responses.</li>
      <li>Created marketing campaigns: targeting, SEO, newsletters, and printed ads.</li>
    </ul>
  </div>
  <div>
    <h1>Education</h1>


    <h2>B.S. Computer Information Systems</h2>
    Tarleton State University<br>
    December 2015

    <h1>Skills</h1>

    <ul>
      <li>Front End Web Development</li>
      <li>Web Design</li>
      <li>HTML5</li>
      <li>HTML</li>
      <li>Javascript</li>
      <li>JQuery</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Angular</li>
      <li>Wordpress</li>
      <li>WooCommerce</li>
      <li>SQL</li>
      <li>C#</li>
      <li>PHP</li>
      <li>GitHub</li>
      <li>Web Hosting</li>
      <li>SSL Installation</li>
      <li>Python</li>
      <li>Microsoft Office suite</li>
      <li>Word</li>
      <li>Excel</li>
      <li>Outlook</li>
      <li>Adobe Creative Suite</li>
      <li>Photoshop</li>
      <li>After Effects</li>
      <li>Illustrator</li>
      <li>Premiere</li>
      <li>DreamWeaver</li>
    </ul>
  </div>
</div>