/* Add application styles & imports to this file! */
:root {
  --main-color: #4405AA;
  --sec-color: #8D47FF;
  --acc-color: #320D6D;
  --dark-color: #1D004C;
  --light-color: #D2B7FF;

  --main-alpha: rgba(68, 5, 170, 0.7);
  --sec-alpha: rgba(141, 71, 255, 0.7);
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--dark-color);
  font-family: 'Cabin', sans-serif;
}
h1 {
  color: var(--main-color);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
}